@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');

:root {
  --primary: #E8820A;
  --yellow: #F5DE12; 
  --stroke: #4D2C1C;
  --search: #FAAA33;
  --black: #000000;
  --background: #EEEBE7;
  --Yummyletterspacing: 6%;
}

body {
  background-color: var(--background);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5px;
}

/* SITE CONTAINER */

.container {
  margin: 0 auto; 
  max-width: 400px;
}
  .main-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}  

h1 {
  font-family: "Akshar", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  color: var(--yellow);
  /* -webkit-text-stroke: 1px ; */
  text-shadow: 
    2px 0 0 var(--stroke), /*right */
    0 2px 0 var(--stroke), /*top */
    -1px 0 0 var(--stroke), /*left */
    0 -1px 0 var(--stroke); /*bottom */
}

.logo {
  width: 45px;
  height: 45px;
  cursor: pointer;
  /* margin-right: 20px; */
  margin-top: 12px ;
}

/* BURGER MENU */

#burger-icon {
  width: 45px;
  height: 35px;
  margin-top: 12px; 
  margin-left: 30px;
  cursor: pointer;
}

.menu {
  display: none;
}

.menu.active {
  display: block;
}

/* SEARCH */

.search-container {
  width: 100%;
  display: grid;
  place-items: center;
}

.search-input {
  border-radius: 25px;
  border: 1px solid var(--primary);
  width: 82%;
  height: 40px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.search-container input::placeholder {
  font-weight: bold;
  color: #F4AA41;
}

.search-container input:focus {
  font-weight: bold;
  color: #F4AA41;
  outline: none;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.buttons button {
  display: grid;
  width: 90%;
  padding: 5px 10px;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;

}
.buttons div button {
  margin: 0 0 1px 0;
}

.buttons button:hover {
  background-color:var(--yellow);
}

.hidden{
  display: none;
}

/* TOGGLE DIALOG */

#toggle-dialog {
  /* padding: 15px; */
  padding: 10px 15px;
  background-color: var(--primary); 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 10px; 

}

#toggle-dialog:hover {
  background-color: var(--yellow); 
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
}

.searchMeal {
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--black);
  overflow: hidden;
}

.searchMeal img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 200px; 
}

.searchMeal h2 {
  margin: 0;
  padding: 10px;
  background-color: var(--primary);
  color: #fff;
  font-size: 15px;
  text-align: center;
}



/* MAIN VIEW */

/* #main-view {
  margin: auto;
  padding: 10px;
  width: 90%;
  height: auto;
  background: #ffffff;
  border-radius: 25px;
  margin-bottom: 5px;
} */

/* Style recipe cards */
.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* Style the recipe card */
.recipe-item {
  max-width: 400px; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  text-align: center;
  margin: 10px; 
}

.recipe-img img {
  max-width: 100%;
  border-radius: 5px;
}
.recipe-title{
  background-color:#E8820A;
  justify-content: center;
  color: whitesmoke;
  border-radius: 8px;
  font-size: larger;
} 

/*STYLE RECIPE DETAILS*/
.details{
  background-color: whitesmoke;
  border: 1px solid #F4AA41;;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.details h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #E8820A;
  margin: 26px;
  border-radius: 5px;
  font-size: 20px;
}
.details img{
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin: 1.8rem;
  margin-top: -10px;
}
.details p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
  margin-right: 24px;
}
.text1{
  font-size: 20px;
  border-bottom: 1px solid black;
  margin-top: -10px;
}
.text2{
  font-size: 26px;
  margin-top: -10px;
}
.ingredient{
  width: 345px;
  height: 73px;
  background-color: #D9d9d9;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

/*Styling recipe by letter*/

.letter{
  background-color: whitesmoke;
  border: 1px solid #F4AA41;;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.letter h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background-color: #E8820A;
  margin: 26px;
  border-radius: 5px;
  font-size: 20px;
}
.letter img{
  width: 330px;
  height: 330px;
  border-radius: 10px;
  margin: 1.8rem;
  margin-top: 16px;
}
 .details p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 28px;
  margin-right: 24px;
}
.text1{
  font-size: 20px;
  border-bottom: 1px solid black;
  margin-top: -10px;
}
.text2{
  font-size: 26px;
  margin-top: -10px;
}
.ingredient{
  width: 345px;
  height: 73px;
  background-color: #D9d9d9;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
} 


/* FOOTER */  

.footer-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary);
  border-radius: 6px;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.footer-main h2 {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.footer-hr {
  border-bottom: 2px solid var(--black);
  width: 80%; 
  margin-top: -2.5rem;
}

.footer-left {
  padding-bottom: 10px; 
  margin-right: 10px; 
}

.footer-left ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.footer-left li {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.footer-left ul li {
  margin-left: 2rem;
}

.footer-right {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px; 
}

.footer-content {
  border-bottom: 2px solid var(--black);
  margin-top: 10px;
  margin-bottom: 4rem;
}

.footer-right .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}

.footer-right .footer-logo,
.footer-right p {
  margin-top: 0.4rem;
  margin-bottom: -1rem;
}

.footer-right .footer-logo {
  margin-right: 10px;
  flex-shrink: 0;
}

.footer-right p {
  color: var(--yellow);
  font-size: 15px;
  font-weight: bold;
  -webkit-text-stroke: 1px var(--stroke);
  text-stroke: 1px var(--stroke);
}

.footer-right ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.footer-right ul li {
  margin-right: 2px;
}

.footer-right ul li img {
  width: 30px; 
  height: 30px;
  margin-right: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.footer-right .social-media-icons {
  margin-top: -3rem;
}



/* DIALOG */
.dialog {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.dialog-content {
  background-color: var(--background);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--stroke);
  border-radius: 15px;
  width: 80%;
}

.close {
  color: var(--primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--yellow);
  text-decoration: none;
  cursor: pointer;
}

.dialog-content .home-button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.dialog-content .home-button:hover {
  background-color: var(--yellow);
}

.dialog-content .api-button {
  background-color: var(--background); 
  color: var(--stroke);
  border: 1px solid var(--search);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.allButtons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
/* BURGER CATEGORY */

#GetCategories {
  margin-top: 2rem;
}

#GetCategories ul {
  list-style: none;
  padding: 0;
}

/*Style Category from burger menu*/
#GetCategories  ul {
  display: inline-flex;
  grid-template-columns: repeat(3fr,1fr);
  margin:0 -5px;
}

#GetCategories ul li {
  display: inline-block;
  margin-right: 10px; 
  text-decoration: none;
  color: var(--background);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  background-color: var(--primary);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

#GetCategories ul li:hover {
  background-color: var(--yellow);
}

/* MEDIA QUERIES TABLET */

@media (max-width: 750px) { 
  .container {
    width: 100%;
    max-width: 100%;
    /* padding: 0 20px; */
  }

  .main-header {
    align-items: flex-start;
  }

  .logo {
    margin-top: 1rem;
    margin-bottom: 20px;
    margin-left: 2rem;
  }

  #burger-icon {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 20px;
  }

  h1 {
    margin-left: 6rem;
  }

  .search-input {
    width: 80%;
    margin-top: -10px;
  }
  
  #recipe-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .letter {
    width: 100%;     
  }

  .letter img {
    width: 80%;
    height: 40%;
    margin-left: 3.5rem;
  }

  .details {
    max-width: 100%;
    margin-left: 8rem ;
  }

  .footer-main {
    width: 95%;
  }
  
  .footer-left h2 {
    margin-left: 5rem;
  }

  .footer-left ul li {
    margin-left: 5rem;
  }
}

/* MOBILE QUERIES */
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    margin-left: -5px;
    margin-right: -5rem;
    margin-bottom: 2px;
    margin-top: 1rem;
  }

  .logo {
    margin-bottom: 2rem;
  }

  #burger-icon {
    margin-top: 1.2rem;
  }

  .search-input {
    margin-top: -1.5rem;
  }

  #recipe-container {
    display: block;
    width: 100%;
    /* margin-left: 3rem; */
    margin-top: 1rem;
  }

  /* .letter {
    display: none;
  } */

  .details img {
    margin-left: 2.3rem;
  }

  .details {
    max-width: 100%;
    margin: 0;
  }

  .footer-main {
    margin-top: 1rem;
  }

  .footer-left h2 {
    margin-left: 2rem;
  }

  .footer-left ul li {
    margin-left: 2rem;
  }
}
